##
# svcshare config file
#
# Edit these settings.
##

# Local settings
#   NICK: owner of the bot (you)
NICK = 'yournick'

# Bot IRC Settings
#   BOT_IRCSERVER: server hostname
#   BOT_IRCPORT: port
#   BOT_NICK: nick to use for bot
#   BOT_CHANNEL: control channel
BOT_IRCSERVER = 'irc.myircnet'
BOT_IRCPORT = 6667
BOT_NICK = 'ss2|yournick'
BOT_CHANNEL = '#svcshare'
BOT_USE_SSL = False

# Client settings. These settings determine how svcshare interacts with your
# client.
#   SERVICE_CLIENT: client you use (supported clients: 'sabnzbd')
#   SERVICE_CLIENT_URL: URL to control the client.
#     for 'sabnzbd', this is the webserver URL (e.g., http://user:pass@host:8080)
SERVICE_CLIENT = 'sabnzbd'
SERVICE_CLIENT_URL = 'http://localhost:8080'
SERVICE_CLIENT_KEY = 'YOUR_API_KEY_HERE_df2bace'

# Target host for the connection proxy.
TARGET_HOST = 'news.yourservice.com'
TARGET_PORT = 563

# Local host for the connection proxy.
LOCAL_HOST = 'localhost'
LOCAL_PORT = 8999